* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 25, 148, 0.826);
}

.form-menu {
    display: flex;
}

/* FORM-LEFT */

.form-left {
    width: 70%;
    height: 90vh;
    margin: 10px 10px 10px 20px;
}

header {
    margin-right: 20px;
}

.manage {
    display: flex;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-between;
}

.fa-solid {
    font-size: 16px;
}

.task-btn {
    width: auto;
    margin-right: 5px;
}

.task-btn i {
    color :fff;
    font-size: 14px;
    padding: 5px;
}

.btn-head {
    margin-right: 3px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: rgba(0, 25, 148, 0.826);
    border-top-right-radius: 16px;
    border-top-left-radius: 15px;
    padding: 5px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
}

.btn-head:hover {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: black;
    line-height: 26px;
}

.task-search {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 2px solid rgb(231, 231, 231);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
}

.task-search i {
    padding-top: 10px;
    padding-right: 5px;
}

.emote {
    display: flex;
    
}

.emote div {
    margin: 3px;
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
}

.emote div button{
    background-color: transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    color: #fff;
    cursor: pointer;
}

.emote div button:hover{
    background-color: white;
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    color: black;
}

.manage a img {
    width: 35px;
    height: 40px;
}

#search {
    text-align: left;
    color: black;
    background: transparent;
    border: 0;
    outline: 0;
    width: 100%;
}

#search::placeholder {
    color: rgb(231, 231, 231);
}

.list {
    height: calc(100vh - 130px);
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.list ul {
    padding: 10px;
}

#title {
    list-style: none;
    display: flex;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.btn-list {
    margin-bottom: 40px;
}

.btn-list button{
    background-color: transparent;
    border:none;
    color: gray;
    margin: 0;
    padding: 10px;
}

.btn-list button:hover{
    border-radius: 16px;
    background-color: blue;
    border:none;
    color: white;
}

.list-menu {
    display: flex;
    flex-flow: row wrap;
    height: auto;
}

.list-menu div {
    flex: 1;
    max-width: 150px;
    height: 180px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.list-menu div #ill {
    position: relative;
    border: none;
    margin: 0;
    padding: 0px 20px;
    max-width: 250px;
    height: 100px;
}

.list-menu div #ill img {
    width: 100%;
    max-width: 250px;
    height: 100%;
}

.list-menu div #ill .price-order {
    color: rgb(52, 52, 244);
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    width: auto;
    padding: 2px 10px;
    top: 92px;
    left: 38px;
    opacity: 0.7;
    background-color: white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 0;
}

.list-menu div p {
    font-weight: bold;
    align-items: flex-end;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(214, 213, 213);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 50px;
}

/* FORM-RIGHT */

.form-right {
    width: 60%;
    height: 90vh;
    margin: 10px 20px 10px 10px;
}

.table-order {
    width: auto;
    display: flex;
}

.table-bill {
    width: 65px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border-top-right-radius: 16px;
    border-top-left-radius: 15px;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
}

.table-bill:hover {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    color: black;
    line-height: 26px;
}

.table-order div {
    margin: 3px;
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
}

.add button{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: rgb(36, 140, 245);
    align-items: center;
    cursor: pointer;
}

.add button:hover{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
}

.emote-left {
    display: flex;
}

.emote-left div {
    margin: 3px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
}

.emote-left div button {
    background-color: rgb(7, 7, 164);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.emote-left div button:hover {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    color: black;
}

.account {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: white;
    font-size: 18px;
}

.emote-left .bars button{
    background-color: transparent;
}

.form-right .list .top-list-bill .btn-list-table .fa-solid {
    padding-right: 6px;
}


.top-list-bill {
    display: flex;
    margin-bottom: 40px;
    height: 40px;
}

.top-list-bill div {
    width: auto;
    height: 35px;
    margin-right: 5px;
}

.top-list-bill .btn-list-table button{
    background-color: rgb(173, 255, 255);
    color: rgb(16, 16, 186);
    padding: 0px 10px;
    border: 0;
    border-radius: 30px;
    height: 100%;
    width: 130px;
}

.top-list-bill .search-cus {
    background-color: aliceblue;
    border-radius: 50px;
    display: flex;
    padding: 0px 10px;
}

.top-list-bill .search-cus .task-search {
    color: rgb(88, 86, 86);
    border: 0;
    margin: 0;
    width: 250px;
}

.form-right #search::placeholder {
    color: rgb(88, 86, 86);
}

.top-list-bill .search-cus .task-search i {
    padding-top: 8px;
}

.top-list-bill .search-cus .add-bill {
    margin: 3px 0px;
}

.top-list-bill .search-cus .add-bill button{
    border: 0;
    background-color: white;
    height: 30px;
    border-radius: 50%;
    width: 32px;
    color: black;
    cursor: pointer;
}

.select-price {
    display: flex;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 0px 15px;
}

.select-price .fa-solid {
    padding-top: 10px;
    padding-right: 3px;
}

.select-price select {
    font-weight: bold;
    background-color: transparent;
    border: 0;
}

.cart button{
    border: 0;
    background-color: aliceblue;
    height: 30px;
    border-radius: 50%;
    width: 35px;
    height: 100%;
    color: black;
    cursor: pointer;
}

.more button {
    background-color: transparent;
    border: 0;
    height: 30px;
    border-radius: 50%;
    width: 32px;
    height: 100%;
    cursor: pointer;
}

.product-order  .list-bill {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    border-bottom: 1px solid rgb(199, 197, 197);
    margin-bottom: 10px;
}

.product-order  .list-bill:hover {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: aliceblue ;
    margin-bottom: 10px;
}

.product-order .delete button{
    background-color: transparent;
    border: 0;
    padding-top: 3px;
    padding-right: 10px;
}

.product-order .name-product {
    width: 300px;
}

.product-order .quantity {
    display: flex;
}

.product-order .quantity div {
    margin: 0px 10px;
}

.product-order .quantity div p {
    font-size: 22px;
}

.product-order .quantity div button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: rgb(199, 197, 197);
}

.product-order .price-product {
    border-bottom: 1px solid rgb(199, 197, 197);
    padding: 0px 8px;
    height: 27px;
}

.product-order .price-product p{
    text-align: end;
    width: 100px;
    font-size: 18px;
}

.product-order .sum {
    width: 100px;
}

.product-order .sum p {
    font-weight: bold;
    text-align: end;
    font-size: 18px;
}

.product-order .note {
    display: flex;
}

.product-order .note i{
    padding-right: 5px;
}

.product-order .note button {
    background-color: transparent;
    border: 0;
    font-size: large;
}

.product-order .note .details {
    padding-left: 7px;
    color: rgb(199, 197, 197);
    font-size: 14px;
}

.product-order .note .details input {
    height: 100%;
    border: 0;
    outline: 0;
}

.form-footer ul {
    color: #fff;
    margin-top: 5px;
    width: 100%;
    justify-content: center;
    list-style: none;
    display: flex;
}

.form-footer ul li {
    display: block;
    margin: 3px;
    padding: 3px;
}