body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px;
}

form {
    width: 400px;
    height: auto;
    margin: auto;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.day {
    font-weight: bold;
    background-color: yellow;
    text-align: center;
}

td {
    border: 1px solid black;

}

.menu {
    background-color: rgb(222, 222, 222);
}